.container {
  background-color: white;
  position: absolute;
  top: 40px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 5px;
  border-radius: 10px;
  font-size: 25px;
  color: #dcdcdd;
}

.weather {
  cursor: pointer;
  color: #dcdcdd;
}

.temperature {
  cursor: pointer;
  color: #dcdcdd;
}

.weather_selected {
  cursor: pointer;
  color: black;
}

.temperature_selected {
  cursor: pointer;
  color: black;
}
