.list_title {
  margin-top: 25px;
  margin-bottom: 25px;
  font-family: Karla;
  font-weight: 60px;
  font-size: 20px;
}

.list:hover {
  overflow-x: overlay;
}

.list {
  display: flex;
  width: 100vw - 25px;
  overflow-x: hidden;
  padding-bottom: 10px;
}

.city_item {
  margin-right: 20px;
  position: relative;
  padding-top: 25px;
}

.your_position {
  position: absolute;
  top: -5px;
  left: 33px;
  font-style: italic;
}

.position_loading {
  background-color: white;
  color: #1980d8;
  cursor: pointer;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
