.list_title {
  margin-top: 25px;
  margin-bottom: 25px;
  font-family: Karla;
  font-weight: 60px;
  font-size: 30px;
}

.list:hover {
  overflow-x: overlay;
}

.list {
  display: flex;
  width: 100vw - 25px;
  overflow-x: hidden;
  padding-bottom: 20px;
}

.city_item {
  margin-right: 20px;
}

.position_loading {
  background-color: white;
  color: #1980d8;
  cursor: pointer;
  width: 120px;
  height: 120px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
