.map_container {
  height: 500px;
  border-radius: 20px;
}

.popup {
  color: #333;
  width: 100px;
  height: 50px;
}

.pin_marker {
  img {
    height: 30px;
  }
}

.city_marker {
  cursor: pointer;
  width: 50px;
  height: 40px;
  /* position: relative; */
}

.city_marker_name {
  position: absolute;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 10px;
  color: black;
  z-index: -1;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  width: 60px;
  height: 30px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.city_marker_name_selected {
  position: absolute;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 10px;
  color: black;
  z-index: -1;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  width: 60px;
  height: 30px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border: solid;
}

/* .side_bar {
  background-color: rgb(35 55 75 / 90%);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
} */
